.custom-border {
  border-left: 5mm solid #fff; /* Bordure de 5 mm à gauche */
  border-right: 5mm solid #fff; /* Bordure de 5 mm à droite */
  border-top: 5mm solid #fff;
}

h3 {
  color: #0E9EBD;
  padding-left: 25px;
  padding-bottom: 18px;
  padding-top: 25px;
}
