<footer>
  <div class= "footer-background">
    <nav class="round">
      <%# <%= image_tag("https://res.cloudinary.com/dbpig7djd/image/upload/v1700573434/istockphoto-157286122-612x612_cnit3x.jpg", %>
        <%# height: 70, class: "object-fit-cover") %>
        <%= link_to  "Mes réseaux" do %>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <%# <img src="https://www.unipile.com/wp-content/uploads/2022/09/logo_instagram.png" alt="logo instagram"> %>
      <% end %>
    </nav>
  </div>
</footer>
