<footer>
  <div class= "footer-background">
    <div class="d-flex w-100 h-100 justify-content-center gap-3 align-items-center">
      <%= link_to "#" do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
    </div>
  </div>
</footer>
