<h1>Destinations insolites</h1>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active btn-primary" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dbpig7djd/image/upload/v1700573435/porte-du-desert-maroc_yvxqt6.jpg" class="d-block" alt="Desert">
      <div class="carousel-caption d-none d-md-block">
        <h1>En plein désert</h1>
        <h3>Balade berbère</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dbpig7djd/image/upload/v1700573434/istockphoto-887323060-612x612_i4euoq.jpg" class="d-block" alt="Igloo">
      <div class="carousel-caption d-none d-md-block">
        <h1>En altitude</h1>
        <h3>Bien au chaud sous la glace</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dbpig7djd/image/upload/v1700573434/Camping-ile-deserte-plage-de-Naris-beach-whitsunday-Australie-1024x576_moy0c3.jpg" class="d-block" alt="Ile">
      <div class="carousel-caption d-none d-md-block">
        <h1>Au milieu de l'océan</h1>
        <h3>Seul au monde</h3>
      </div>
    </div>
        <div class="carousel-item">
      <img src="https://res.cloudinary.com/dbpig7djd/image/upload/v1700659628/development/3o6nla9zny50cth9rk64sl220m34.jpg" class="d-block" alt="Abysse">
      <div class="carousel-caption d-none d-md-block">
        <h1>Dans les bas fonds</h1>
        <h3>Rencontre avec les abysses</h3>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" class="fleche">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
