<%# raise
<%= @reservation.date_of_arrival %>
<%# <%= @reservation.date_of_departure %>

<div class="container justify-content:center">
  <div class="shadow p-3 mb-5 bg-body rounded w-50">
    <p>Insolite Voyage a le plaisir de vous proposer l'expérience suivante :</p>
    <br>
    <h2>Séjour du au soit nuitée</h2>
    <p>Vous avez opté pour l'option suivante : "value"</p>
    <p>Le statut de Votre réservation est actuellement "en cours de validation"</p>
    <p>Nous vous remercions d'avoir choisi Insolite Voyage pour votre future destination et espérons que celle-ci correspondra à vos attentes.</p>
<br>
    <h1>HAPPY TRAVEL !</h1>
  </div>
</div>
