.footer-background {
  background-color: #059ABA;
  object-fit: cover;
  height: 70px;
  text-align: center;
}

.footer-background i {
  font-size: xx-large;
  display: block;
  border: 1px solid red;
  // justify-content: center;
  // align-content: center ;
  color: aliceblue;
}

// background-image: url("https://res.cloudinary.com/dbpig7djd/image/upload/v1700573434/istockphoto-157286122-612x612_cnit3x.jpg");
