img {
  width: 100%;
  justify-content: center;
}

// .carousel-inner {
//   justify-content: center;
// }


button {
  color: black;
}


h1 {
  color: whitesmoke;
}


h3 {
  color: #FEC408;
}

.fleche {
  color: black;
}
