<h1><%= @destination.name %></h1>
<p><%= @destination.description %></p>
<p><%= @destination.date_of_availability %></p>
<p><%= @destination.price %></p>

<% link_to "retourner à la liste", destinations_path %>
